@use "sass:color";
.alertOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.alertBox {
    background: linear-gradient(135deg, #202020, #313131);
    border-radius: 5px;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.alertContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.alertIcon {
    font-size: 4rem;
    margin-bottom: 1rem;
    animation: pulse 1s infinite alternate;
}

.alertTitle {
    color: #f0f0f0;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.alertMessage {
    color: #d1d8e0;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.closeButton {
    background: linear-gradient(to right, #f05e6f, #fd7b67);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s;
    border-radius: 5px;

    &:hover {
        background-color: linear-gradient(to right, #f38693, #fd7b67);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    to {
        transform: scale(1.2);
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.9),
            0 0 40px rgba(255, 255, 255, 0.6);
    }
}
