.timerDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: "Digital", monospace;
    border: 4px dashed #47474736;
    border-radius: 5px;
}

.timeValue {
    font-size: 4rem;
    font-weight: 700;
    color: #f5f7fa;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    min-width: 6rem;
    text-align: center;
}

.separator {
    font-size: 4rem;
    font-weight: 700;
    color: #f5f7fa;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}
